* {
    margin: 0;
    padding: 0;
}
body {
	font-family: 'Geneva', sans-serif;
	background-image:url('./images/background_image.jpg');
}
header {
    position: relative;
    padding: 0px 0px 0;
    overflow: auto;
    width: 100%;
}
h2 {
    font-family: 'Geneva', sans-serif;
    font-weight: normal;
    font-size: 175%;
    color: #424242;
    margin-bottom: .5em;
}
section {
    margin-right: 80px;
    padding: 0 1em;
    margin-bottom: 30px;
}
footer {
    width: 800px;
    margin: 0 80px;
    padding: 2em 0;
}
ul{
    list-style-type: none;
    font-weight:bold;
}
p{
text-indent:50px;
padding-left:20px;
padding-right:20px;
}
#page {
	width: 960px;
	margin: 0px auto;
    background-color: #ffffff;
    box-shadow: 10px 10px 5px #888888;
}
#title {
    margin-bottom: 20px;
    display: center;
}
#content {
    padding-left: 80px;
    overflow: auto;
    width: 100%;
}
#picture{
    width: 250px;
    height: 310px;
    float: left;
    padding-top: 10px;
    margin-top: 10px;
}
#info{
    width: 500px;
    height: 310px;
    float: right;
    padding-top: 10px;
    margin-top: 10px;
}
#about{
    height: 310px;
    padding-top: 10px;
    margin-top: 10px;
}
.portfolioItem{
    width: 100%;
}
.portfolioText{
}
.nav {
    background-color: #484848;
}
.navbar{
    background-color: #484848;
}
.button {
    display: inline-block;
    cursor: pointer;
    text-transform: uppercase;
    color: white;
    background-color: #4b4943;
    padding: 0.5em 1em .4em;
    font-family: 'Geneva',sans-serif;
    letter-spacing: .1em;
    font-size: 90%;
}
.left {
    width: 70px;
    padding-left: 10px;
    float: left;
}
.right {
    width: 70px;
    padding-left: 10px;
    float: left;
}
a:link{
	color:#9000C7;
	text-decoration: none;
}
a:visited{
	color: #EC00F6;
}
a:hover{
	color:gray;
	text-decoration: underline;
}
a:active{
	color: #1C0053;
}

